## RECAP

##  `range()` function

* `range(i,j)` produces the sequence `i, i+1,...,j-1`

* `range(j)` automatically starts from 0; `0,1,...,j-1` 

* `range(i,j,k)` increments by k; `i, i+k,..., i+nk`

  * Stops with n such that `i+nk < j <= i+(n+1)k`

* Count Down? Make `k` negative!

  * `range(i,j,-1),  i>j`, produces `i,i-1,...,j+1`

#### **General rule for `range(i,j,k)`**
* Sequence starts from `i` and gets close to `j` as possible without crossing `j`

* If `k` is positive and `i >= j` then it results in empty sequence. Similarly if `k` is negative and `i <= j`

### **`range()` and `list`**

* Can convert `range()` to a `list` using `list()`

  * `list(range(5))` = `[0,1,2,3,4]`

In [ ]:
list(range(10))

In [ ]:
list(range(10,0,-1))

In [ ]:
list(range(10,12,-1))

In [ ]:
list(range(10,-5,-3))

## **Explicit type conversion functions**

* `str(74) = "74"`

* `int("123") = 123` 

* `int("32x") =  Error!`

### Automatic(implicit) type conversion

* `x = 7`

* `x = x*0.5`

In [ ]:
s = '123'
int(s)

In [ ]:
s = '6e24' #mass of earth
float(s)

In [ ]:
s = '6e24' #mass of earth
int(s)

## **More on `lists`**

### **Extending a list**

* Adding an element to a list, **in place**

  * `list1 = [1,2,3,4]`

  * `list2 = list1`

  * `list1.append(5)`

* `list1` and `list2` are now both `[1,2,3,4,5]`

* `list1 = list1 + [5]`

* `list1 = [1,2,3,4,5]` and `list2 = [1,2,3,4]`

* Concatenation produces a new list

### **List function**

* `list1.append(v)` - extends list by a single value `v`

* `list1.extend(list2)` - extend `list1` by a list of values

  * In place equivalent of `list1 = list1 + list2`

* `list1.remove(x)` - removes the first occurance of `x`

  * Error if no copy of `x` exists in `list1`

In [ ]:
list1 = list(range(10))
list1

In [ ]:
list1.extend([11, 12, 13])
list1

In [ ]:
list2 = list1 + list1
print(list2)

In [ ]:
list2.remove(5)
print(list2)

In [ ]:
#remove() only removes first copy
list2.remove(5)
print(list2)

In [ ]:
list2.remove(5)

>If the item is not in the list then the statement throws an error. 


1. Try safely deleting the item i.e use if- condition to check wheter the item is in the list.


2. Try deleting all occurances of item in the list.

### **List Membership**

* `x in l` returns `True` if value `x` is found in list `l`

In [ ]:
l = list1 + list1
print(l)

In [ ]:
# Safely remove x from l
x = 5
if x in l:
    l.remove(x)

In [ ]:
l

In [ ]:
# Remove all occurances of x in l
x = 1
while x in l:
    l.remove(x)

In [ ]:
l

### **Other functions**

* `l.reverse()` - reverse `l` in place

* `l.sort()` - sort `l` in ascending order

* `l.sort(reverse=True)` - sort `l` in descending order

* `l.index(x)` - find the leftmost position of `x` in `l`
  * Avoid error by checking if `x` in `l``

In [ ]:
l = list(range(10))

In [ ]:
l.reverse()
l

#### **Precaution: Initializing lists**

In Python, a name can be used before it is assigned a value. However, one might forget this for list where update is implicit.

* Use : `l = []`

## Loops revisited: `break` and `continue`

* alter the flow of loop 
    * break: Terminates the loop
    * continue: Terminates the loop for current iteration only

In [ ]:
for i in range(5):
    if i == 2:
        break
    print(i)

In [ ]:
for i in range(5):
    if i == 2:
        continue
    print(i)

**Example:** Finding the first position of value in a list

In [ ]:
# Brute force: Naive way
def findpos(l,v):
    # Return first position of l in v
    # Return -1 if not found
    found, i = False, 0
    while i < len(l):
        if not found and l[i] == v:
            found, pos = True, i
        i += 1
    if not found:
        pos = -1
    return pos

In [ ]:
findpos([1,2,3,4,5],4)

> More natural strategy: using `break`

In [ ]:
def findpos(l,v):
    pos, i = -1, 0
    for x in l:
        if x == v:
            pos = i
            break
        i += 1
    
    return pos

> More natural strategy: Using for-else loop

In [ ]:
def findpos(l,v):
    for i in range(len(l)):
        if l[i] == v:
            pos = i
            break
    else: #loop terminated in a natural way
        pos = -1
    
    return pos

In [ ]:
findpos([1,2,3,4,5],4)

---

We can also use else in a while loop.

*Else* part only gets executed if loop terminates normally.

---

## Tuples

* Immutable sequence of values

In [ ]:
point = (3,4)
date = (17,3,2020)
primes = (2, 3, 5, 7, 11, 13)
names = ('Ted', 'Barney', 'Robin')
len(primes)

#### Type need not be uniform

In [ ]:
mixed = (
    'Herald',
    2020,
    'Naxal',
    'Kathmandu',
    ['Ted','Barney','Robin']
)

* Extract values by position, slice like str

In [ ]:
print("x-coordinate:", point[0])
print(primes[3])
print(mixed[0:2])
len(mixed)

In [ ]:
primes

In [ ]:
#immutable
primes[0] = 1

## Dictionary

* Has table of key-value pairs

In [ ]:
action_values = {'up': 0,'down': 1,'left': 2, 'right': 3}
print(action_values.keys())
print(action_values.values())

* Keys must be immutable and unique
* It is unordered

In [ ]:
print(action_values)
action_values['right']

* len(d) returns length of dict d
* Dictonary are MUTABLE

In [ ]:
a = [1, 2, 3]
action_values['a'] = 4
action_values

Looping through all elements of dictionary

In [ ]:
action_values = {'up': 0,'down': 1,'left': 2, 'right': 3}

In [ ]:
action_values.items()

In [ ]:
for k,v in action_values.items():
    print(k,v)

### **Function Definition**

**Default Arguments**

``` 
def foo(a,b,c=3,d=4):
  ...
```

* `foo(1,2)` is interpreted as `f(1,2,3,4)`
* `foo(1,2,7,8)` is interpreted as `f(1,2,7,8)`

* Default values are identified by position and must come at the end
  * Order is important

**Alias**

* Can assign a function to a new name

``` 
def foo(a,b,c):
  ...
```

`bar = foo`

* Now `bar` is another name for `foo`

### **lambda expressions**

* Lambda function are the anonymous function i.e function that is defined without a name and are single expression
* Syntax
    * `lambda arguments: expression`
* Return is implicit


```
def times2(var):
    return var*2
```

Alternately,

`times2 = lambda var: var*2`

In [ ]:
times2 = lambda var: var*2
print(times2(4))

> Q. Code a lambda function to check whether a number is even or not. 

`is_even = lambda ... `

In [ ]:
is_even = lambda x: x%2 == 0
print(is_even(4))

---

Two types of functions:

* times2 = lambda x: x*2

* is_even = lambda x: x%2 == 0

---

1. First function **`maps`** a value to some other value.

2. Second function **`filters`** even numbers.

**We can define a function to perform several operations on a list in general**

```
def applylist(f,l):
  for x in l:
    x = f(x)
```

Another way to do this is to use a built-in function `map`.

### **Built-in function `map()`**

* `map(f,l)` applies `f` to each element of `l`

* Output of `map(f,l)` is not a list
  * use `list(map(f,l)` to get a list
  * can be used directly in a `for` loop
    * `for i in map(f,l): ... `

> Example:

```
seq = [1,2,3,4,5]

list(map(times2,seq)) == [2,4,6,8,10]
```

OR

`list(map(lambda var: var*2,seq))`

In [ ]:
seq = list(range(1,10))
list(map(lambda var: var*2,seq))

### **Built in function `filter()`**

* `filter(p,l)` checks `p` for each element of `l`
* Output is a sublist of values that satisfy `p`

>Example

```
# returns even numbers from seq

filter(lambda item: item%2 == 0,seq)
 OR
list(filter(lambda item: item%2 == 0,seq))
```

In [ ]:
seq = [1, 2, 3, 4, 5]
print(list(filter(lambda x: x%2==0, seq)))

### **Combining `map` and `filter`**

> Find sum of square of even numbers from 0 to 99

```
square = lambda x: x**2
iseven = iseven = lambda x: x%2==0

list(map(square,filter(iseven,range(100)))
```


### **List Comprehension**

> Squares of even number below 100

`[square(x) for i in range(100) if iseven(x)]`

| `[square(x) | for i in range(100)  | if iseven(x)]` |
| - | - | - |
| --map-- | ----generator---- |  --filter-- |



> Example

```
x = [1,2,3,4]

out = []
for item in x:
    out.append(item**2)
print(out)

OR

[item**2 for item in x]
```

#### Extract only even numbers from a sequence of integers

In [ ]:
num=[x for x in range(10) if x % 2 == 0]
print(num)

### Multiple Generators 

#### Pythagorean triplets with x, y, z below 100

In [ ]:
[(x,y,z) for x in range(1, 100)
          for y in range(x,100)
            for z in range(y,100)
             if x*x + y*y == z*z]

#### Initalize a $4\times 2$ matrix

In [ ]:
# 4 rows, 2 cols
l = [[0 for i in range(2)] for j in range(4)]
print(l)

>  Question
* Using list comprehension extract the initals from the following list:

    `cities = ['Kathmandu','Bhaktapur','Banepa']`

In [ ]:
cities = ['Kathmandu','Bhaktapur','Banepa']

> Question
Use list comprehension to achieve the equivalent of the following program

```
factors= []
for i in range(1,10):
  for j in range(1,10):
    if i%j==0:
      factors.append((i,j))
 ```

## Set

* Unordered collection of unique objects

In [ ]:
nums = {1,2,3,4,1,2}
nums

* Types
    * Set
        * Mutable
    * Frozen sets
        * Immutable

In [ ]:
# Set
cities = {'Kathmandu','Bhaktapur','Banepa'}
cities.add('Panauti')
cities

In [ ]:
# Frozen Sets
cities = frozenset({'Kathmandu','Bhaktapur','Banepa'})
cities.add('Panauti')
cities

### **Set Operations**

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}

In [ ]:
a.union(b)

In [ ]:
a.intersection(b)

In [ ]:
a.difference(b)

In [ ]:
# symmetric difference
a ^ b